#toggleButton {
  all: unset;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  width: 206px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

#loader {
  margin-top: 15px;
}

.dayTime {
  text-align: center;
  color: white;
  border: 5px solid white;
  border-radius: 2px;
  min-height: 100vh;
  background-color: #61dafb;
  font-family: 'VT323', monospace;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/782fa53b-fd50-4cc4-bda7-60a0b1621eb0/dax1frj-41701852-d2a7-4416-9ec7-954393b26f96.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc4MmZhNTNiLWZkNTAtNGNjNC1iZGE3LTYwYTBiMTYyMWViMFwvZGF4MWZyai00MTcwMTg1Mi1kMmE3LTQ0MTYtOWVjNy05NTQzOTNiMjZmOTYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.LEtk7OTHnk4Vjoy2Er-ugMe-qruQKpda5wR0K6X8dag);
  background-repeat: no-repeat;
  background-size: cover;
}

.nightTime {
  text-align: center;
  color: white;
  border: 5px solid white;
  border-radius: 2px;
  min-height: 100vh;
  background-color: #61dafb;
  font-family: 'VT323', monospace;
  background-image: url(https://64.media.tumblr.com/0f3927f0017e84b9c6ec69901c5a825a/tumblr_n9lwm7N7VX1tz79vpo1_r1_1280.gif);
  background-repeat: no-repeat;
  background-size: cover;
}