p {
    font-size: 22px;
    text-shadow:
          0.06em 0 black,
          0 0.06em black,
          -0.06em 0 black,
          0 -0.06em black;
  }
  
  .dataHeader {
    text-shadow:
          0.06em 0 black,
          0 0.06em black,
          -0.06em 0 black,
          0 -0.06em black;
  }
  
  .forecastDataDiv {
    background-color: lightblue;
      margin-top: 4%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 50px;
      padding: 5px;
      border: 6px solid white;
      border-radius: 4px;
      text-shadow:
          0.06em 0 black,
          0 0.06em black,
          -0.06em 0 black,
          0 -0.06em black;
    }

#forecastH2 {
  font-size: 36px;
  text-shadow:
          0.06em 0 black,
          0 0.06em black,
          -0.06em 0 black,
          0 -0.06em black;
}

h3 {
  font-size: 28px;
  text-shadow:
          0.06em 0 black,
          0 0.06em black,
          -0.06em 0 black,
          0 -0.06em black;
}